<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <div class="head">
    <span class="add-note">添加</span>
    <div class="user">
      <% if(isLogin){ %>
        <img class="user-img" src="<%= user.avatar %>" alt="">
        <span class="user-name"><%= user.username %></span>
        <span>|</span>
        <a class="user-out" href="/auth/logout"> 注销</a>
      <% }else{ %>
        <a href="/auth/github" class="user-login">GitHub登陆</a>
      <% } %>
    </div>
  </div>
  <div class="content">
  </div>
  <script src="/js/main.js"></script>
</body>
</html>