<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <div class="head">
    <a href="https://github.com/login/oauth/authorize?response_type=code&redirect_uri=http%3A%2F%2Ffanzhuolei.club%3A3330%2Fauth%2Fgithub%2Fcallback&client_id=0246998c2406c9df9fe3">a</a>
    <span class="add-note">添加</span>
    <div class="user">
      <% if(isLogin){ %>
        <img class="user-img" src="https://avatars1.githubusercontent.com/u/34830704?v=4" alt="">
        <span class="user-name">fanlelee</span>
        <span>|</span>
        <span class="user-out">注销</span>
      <% }else{ %>
        <span class="user-login github-login">
            <a class="login" title="GitHub登录" href="/auth/github"> GitHub登录</a>
        </span>
      <% } %>
    </div>
  </div>
  <div class="content">
  </div>
  <script src="/js/main.js"></script>
</body>
</html>